@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); /* font-family: 'Press Start 2P', cursive; */

:root2 {
    --color-bg: #1f1d2e;
    --color-bg2: #524f67;
    --color-bg3: #4f4f4f;
    --color-fnt: #31748f;
    --color-fnt2: #86b186;
    --color-fnt3: #66cccc;
    --color-cnvs-bg: #e0def4;
    --color-cnvs-shd: #191724;
}

:root {
    --color-background: #1a1825;
    --color-control-panels: #26233a;
    --color-button: #524f67;
    --color-buttonborder: #31748f;
    --color-buttonhighlight: #ebbcba;
    --color-selected: #eb6f92;
    --color-fieldset: #ebbcba;
    --color-text: #e0def4;
    --color-detail: #9ccfd8;
    --color-detail-2: #908caa;
}

*{
    /* border: 1px solid black; */
    box-sizing: border-box;
    margin:0;
    padding: 0;
    overflow:visible;
}

html{
    min-height: 100%;
    max-height: 890px;
    background-color: var(--color-background);
    font-family:  ui-sans-serif,system-ui,sans-serif,Segoe UI Symbol;
}

.body{
    display: flex;
    margin: auto;
    margin-bottom: 0;
    justify-content: center;
    align-items: end;
}

h2{
    font-family: 'Press Start 2P', cursive;
    font-size: 22px;
    text-shadow: 2px 2px var(--color-detail) ;
    color: var(--color-text);
    padding: 20px 0 10px 20px;
}

hr{
    height:2px;
    border-width:0;
    background-color: var(--color-fieldset);
}

#message {
    display: none;
    font-family: 'Press Start 2P', cursive;
    border: 4px ridge red;
}

.main{
    display:flex;
    flex-direction: column;
    align-items: center;
}

/********************************************************************
The control panel side parameters
These are placed by hand with margins and stuff, so thread carefully
*********************************************************************/

.control-panel{
    margin: 0 40px 0 40px;
    width: 300px;
    height: 780px;
    padding: 15px;
    background-color: var(--color-control-panels);
    border-radius: 10px;
}

fieldset{
    /* position: relative; */
    border:3px solid var(--color-fieldset);
    border-radius: 3px;
    margin-top: 4px;
    color: var(--color-text);
}

#color-info{
    display: grid;
}

.colorBox{
    width: 180px;
    height: 55px;
    border: solid 1px var(--color-detail);
    align-self:center;
    margin: auto;
    margin-bottom: 20px;
}

input[type=number]{
    height: 28px;
    width: 60px;
    background-color: var(--color-text);
    color: var(--color-background);
    border: 2px solid var(--color-detail);
    border-radius: 3px;
}

#wrapper{
    height: 32px;
    width: 270px;
    display: flex;
    justify-content: center;
    line-height: 28px;
}


/********************************************************************
Sliders
*********************************************************************/

input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    height: 26px;
    width: 262px; /* Specific width is required for Firefox. */
    background: none; /* Otherwise white in Chrome */
    position: absolute;
  }

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
/* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 3px;
    height: 28px;
    background: none;
    border: var(--color-fieldset) solid 2px;
    border-radius: 5%;
    cursor: pointer;
/* margin-top: -14px; You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; Add cool effects to your sliders! */
  }
  
  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {
    width: 2px;
    height: 28px;
    background: none;
    border: var(--color-fieldset) solid 2px;
    border-radius: 5%;
    cursor: pointer;
  }
  
  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {
    width: 2px;
    height: 28px;
    background: none;
    border: var(--color-fieldset) solid 2px;
    border-radius: 5%;
    cursor: pointer;
  }

.Hue, .Sat, .Light{
    height: 26px;
    width: 260px;
    display: grid;
    position: absolute;
    margin: auto;
}


legend{
    margin: auto;
    padding: 6px;
    font-size: large;
}

.current-color, .backg-color{
    display: flex;
    align-items: center;
    width: 260px;
    padding: 6px;
}
span{
    margin-left: 8px;
}



button{
    background-color: var(--color-button);
    color: var(--color-text);
    width: 140px;
    height: 40px;
    border-radius: 3px;
    border: 2px solid var(--color-buttonborder);
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    text-align: left;
    vertical-align: middle;
    margin: 6px;
}

button.active{
    border: 2px solid var(--color-buttonhighlight);
}

.btn-ico {
    height: 16px;
    width: auto;
    margin-left: 4px;
}

#grid-size{
    padding: 6px;
    width: 260px;
    padding-left: 6px;
}

datalist{
    display:flex;
    justify-content: space-between;
    padding: 4px;
    margin-left: 6px;
}

#grd-size, #show-num{
    margin-left: 15px;
    margin-top: 15px;
    font-weight:bold;
    font-size: larger;
}


/********************************************************************
The canvas side parameters
*********************************************************************/
#tool-bar{
    padding: 20px 0 5px 0;
    /* display: grid; */
    /* grid-template-columns: auto auto auto auto; */
}

.mode {
    width: 123px;
    margin: 2px;
}

#canvas{
    width:780px;
    height: 780px;
    display: grid;
    background-color: white;
    /* padding: 10px; */
    /* border-radius: 10px; */
}

.pixel-grd{
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
}

#recent{
    width: 260px;
    padding: 5px 10px 10px 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-content: center;

}
.recentBox{
    height: 40px;
    width: 40px;
    border: black 1px solid;
    margin: 2px;
}

footer {
    display: grid;
    grid-template-columns: auto auto;
}
#footer{
    color: lightgrey;
    font-family: 'Press Start 2P', cursive;
    font-size: smaller;
    text-align: right;
}