@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); /* font-family: 'Press Start 2P', cursive; */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap'); /* font-family: 'IBM Plex Sans', sans-serif; */

:root {
    --color-bg: #636363;
    --color-bg2: #a6a5a5;
    --color-bg3: #4f4f4f;
    --color-fnt: #dd8d8e;
    --color-fnt2: #86b186;
    --color-fnt3: #66cccc;
    --color-cnvs-bg: #282828;
    --color-cnvs-shd: #333333;
}

*{
    /* border: 1px solid black; */
    box-sizing: border-box;
    margin:0;
    padding: 0;
    overflow:visible;
}

html{
    min-height: 100%;
    background-color: var(--color-bg);
    font-family: 'IBM Plex Sans', sans-serif;
    color: lightgrey;
}

h2{
    font-family: 'Press Start 2P', cursive;
    font-size: 36px;
    text-shadow: 2px 2px var(--color-fnt3) ;
    color: white;
    text-align: center;
    padding: 60px;
    padding-bottom: 70px;
}

#message {
    display: none;
    font-family: 'Press Start 2P', cursive;
    border: 4px ridge red;
}

.main{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 1200px;
    margin:auto ;
}

/********************************************************************
The control panel side parameters
These are placed by hand with margins and stuff, so thread carefully
*********************************************************************/

#control-panel{
    width: 380px;
    height: 660px;
    padding: 15px;
    background-color: var(--color-cnvs-shd);
    border-radius: 10px;
    display:grid;
}

fieldset{
    position: relative;
    border:2px ridge var(--color-fnt);
    margin-bottom: 36px;
    margin-top: 4px;
}

#wrapper{
    position: relative;
    height: 45px;
    width: 360px;
}
.Hue{
    border: black solid 1px;
    height: 40px;
    width: 360px;
    display: grid;
    position: absolute;
}
.Sat{
    border: black solid 1px;
    height: 40px;
    width: 360px;
    display: grid;
    position: absolute;
}
.Light{
    border: black solid 1px;
    height: 40px;
    width: 360px;
    display: grid;
    position: absolute;
}

.slider{
    border: black solid 1px;
    height: 40px;
    width: 360px;
    background: none;
    position: absolute;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 3px;
height: 46px;
background: none;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 2px;
height: 43px;
background: none;
border: black solid 3px;
border-radius: 0%;
cursor: pointer;
}

legend{
    margin: auto;
    padding: 6px;
    font-size: large;
}

.current-color, .backg-color{
    display: flex;
    align-items: center;
    width: 260px;
    padding: 6px;
}
span{
    margin-left: 8px;
}


input[type=color]{
    height: 45px;
    width: 100px;
}


button{
    background-color: var(--color-bg2);
    color: var(--color-cnvs-bg);
    width: 260px;
    height: 35px;
    border-radius: 3px;
    border: 2px solid var(--color-fnt);
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    margin: 6px;
}

button.active{
    background-color: var(--color-bg3);
}

#grid-size{
    padding: 6px;
    width: 260px;
    margin-left: 6px;
}

datalist{
    display:flex;
    justify-content: space-between;
    padding: 4px;
    margin-left: 6px;
}

#grd-size, #show-num{
    margin-left: 15px;
    margin-top: 15px;
    font-weight:bold;
    font-size: larger;
}


/********************************************************************
The canvas side parameters
*********************************************************************/

#canvas{
    width:660px;
    height: 660px;
    margin:auto;
    display: grid;
    background-color: var(--color-cnvs-shd);
    padding: 30px;
    border-radius: 10px;
}

.pixel-grd{
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
}

#footer{
    color: lightgrey;
    font-family: 'Press Start 2P', cursive;
    font-size: smaller;
    text-align: center;
}